.container-inbox{
    overflow-y: scroll;
    height: 150px;
    border-radius: 8px;
    border: 1px solid transparent;
    border-color: #1a1a1a;
}

#chatsHeader{
    background-color: #1a1a1a;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
}

#homepage{
    width: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
